.main_wrapper{
  height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  max-width: 100%;
}

.slider{
  width: 60%;
  height: 500px;
  background-color: aquamarine;
}
.items_wrapper{
  height: 100%;
}
.items_wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider_right{
width: 20% ;
height: 500px;
background-color: aquamarine;
border: 1px solid black;
position: relative;

}
.items_wrapper_right img{
  
  object-fit: cover;
}

.box_img{
  border: 1px solid black;
  width: 100%;
  object-fit: cover;
}
.box_small{
  /* height: calc(100% / 5); */
  border: 1px solid black;
  height: 100px;
  
}
.box_small img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.btn_arrow{
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: all .3s;
  position: absolute;
  left: 80%;
  transform: translatex(-50%);
  cursor: pointer;
  
}
.btn_arrow.up{
  left: 80;
  top: 50px;
}
.btn_arrow.down{
  bottom: 50px;
}
.btn_arrow:hover{
  background-color: white;
  color: black;
}